{% extends 'base.html' %}
{% block body %}
<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6">
            <div class="card-heading">
                <h2 class="title">Login</h2>
            </div>
            <div class="card-body">
                <form action="{% url 'userlogin' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-row" style="color:red;">{{error}}</div>
                    <div class="form-row">
                        <div class="name">Username:</div>
                        <div class="value">
                            <input type="text" class="input--style-6" name="username" value="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Password:</div>
                        <div class="value">

                          <input type="password" class="input--style-6" name="password" value="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn--radius-2 btn--blue-2" style="height:50px; width:100px" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
